* text=auto eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.bmp binary
*.tif binary
*.tiff binary
*.pdf binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.traineddata binary
*.apk binary
*.aab binary
